@{
    ViewBag.Title = "Pagina inical";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Bem vindo a SunPower, aqui você terá total apoio de integradores credenciados para cuidar bem de sua usina. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Não fique de fora! &raquo;</a></p>
</div>
